*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: url("./Comforter-Regular.ttf") format("truetype");
}

.name {
  text-align: center;
  font-family: "MyFont";
  font-size: 3rem;
  padding: 3rem 1rem;
  color: purple;
  transition: transform 0.5s ease-in-out;
  border: 0.5rem solid black;
  border-radius: 1rem;
  width: fit-content;
  margin: 5rem auto;
  background: url("./Stick\ man\ running.gif");
}

.name:hover {
  transform: scale(1.1);
  box-shadow: 1rem 2rem 2.5rem #888;
}
